# Tuplas

In [1]:
# [] - lista
# {} - dicionário
# () - tupla
# Criando uma tupla
tupla1 = ('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [3]:
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [ ]:
# Tuplas não suportam append(), pois são imutáveis
tupla1.append('Chocolate')

In [ ]:
# Tuplas não suportam delete de um item específico
del tupla1('Elefantes')

In [4]:
# Tuplas podem ter um valor único
tupla2 = ('Chocolate')

In [5]:
tupla2

'Chocolate'

In [6]:
tupla1[0]

'Geografia'

In [7]:
# Comprimento da tupla
len(tupla1)

5

In [8]:
# Slicing
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [ ]:
# Tuplas não suportam atribuição de itens
tupla1[1] = 21

In [9]:
# Deletando uma tupla
del tupla2

In [10]:
tupla2

NameError: name 'tupla2' is not defined

In [11]:
t2 = ('A', 'B', 'C')

In [12]:
t2

('A', 'B', 'C')

In [13]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [14]:
lista_t2

['A', 'B', 'C']

In [15]:
type(t2)

tuple

In [16]:
type(lista_t2)

list

In [17]:
lista_t2.append('D')

In [18]:
lista_t2

['A', 'B', 'C', 'D']

In [19]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [20]:
t2

('A', 'B', 'C', 'D')

In [21]:
type(t2)

tuple

# FIM